/*
Theme Name: OceanWP Child
Theme URI: http://example.com/twenty-fifteen-child/
Description: OceanWP Child Theme
Author: Ida Rossen
Author URI: http://example.com
Template: oceanwp
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: oceanwp-child
*/

/* Her bliver header-menuen fixed*/
    #site-header.transparent-header { 
      position: fixed;
      top: 0;
      background-color: white !important; 
      height: auto;
      z-index: 9999;
    }
    
    
/* Style til custom js*/
.custom-js {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 40px; 
    padding: 20px;
    color: #aeb939;
}

/* Responsiiiiv */
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .custom-js {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .custom-js {
    font-size: 15px;
    margin: 0 auto;
  }
 
}



